@import './index.scss';

.converter{
    margin-top: 1rem;
    width: 100%;
    min-height: 80px;
    box-shadow: $shadow;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    form{
        width: 290px;
        box-shadow: $shadow;
        border-radius: 5px;
        padding: 5px;
        input{
            padding: 5px 10px;
        }
    }
}
@media (min-width: 640px) {
    .converter{
        flex-direction: row;
        justify-content: center;
        .result{
            margin-left: 1rem;
        }
    }
}
@media (min-width: 1200px) {
    .converter{
        border-radius: 0.5rem;
    }
}