@import './index.scss';

.converter{
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    form{
        width: 280px;
        display: flex;
        box-shadow: $shadow;
        border-radius: 5px;
        padding: 5px;
        input{
            padding: 5px 10px;
        }
        select{
            padding: 5px 10px;
            outline: none;
            // appearance: none;
            border-bottom: 1px solid $color-dark;
        }
    }
    .result{
        margin-top: 1rem;
    }
}
